<footer class="footer">
  <div class="footer_inner wrap pale">
    <img alt="{{ .Site.Title | upper }}" src='{{ absURL "icons/apple-touch-icon.png" }}' class="icon icon_2 transparent">
    <p>{{ i18n "copyright" }} &copy;&nbsp;<span class="year">{{ now.Format "2006"}}</span>&nbsp;{{ .Site.Title }}. {{ i18n "all_rights" }}</p>
    {{- partial "top" .}}
  </div>
</footer>

{{- partial "math" .}}
{{- partial "tocbot" .}}
{{- partial "buy-me-a-coffee" .}}